@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300;1,400&display=swap');

.footer-container {
    padding-top: -20px;
    width: 100%;
    height: 300px;
    background-color: #081528;
    color: white;
    text-align: center;
    padding-bottom: -20px;
}

.logo-footer-img {
    width: 140px;
    height: 56px;
    margin: 10px;
}

.footer-list a {
    text-decoration: none;
    color: white;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 28px;
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    margin: 0px;
    padding: 15px;
    font-weight: 400;
    font-style: normal;
}

.footer-address {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: #6F7F92;
    letter-spacing: normal;
    font-size: 17px;
    font-stretch: 100%;
    text-decoration: none solid rgb(111, 127, 146);
    margin: 20px;
}

.footer-end {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: normal;
    color: #6F7F92;
    font-size: 16px;
    font-style: normal;
    text-decoration: none solid rgb(111, 127, 146);
    margin: 20px;
}

.btn {
    background-color: #081528;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #003358;
}
